<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Github key:</strong>
  <%= @user.github_access_token %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
